* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary-color: #E6533C;
    --secund-color: #323443;
    --text-color: #FAFAF9;
    --button-color: #7A29DC;
    --text-color-p: rgba(239, 237, 232, 0.65);

}

body {
    background: black;
    color: white;
}

/* Classes reutilizaveis */
.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo h3 {
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-color);
}

.ul {
    display: flex;
    align-items: center;
}

.ul li {
    margin: 0 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.ul li a {
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.ul li a:hover {
    color: var(--primary-color);
}

.menu__icon {
    display: none;
    position: relative;
    z-index: 10;
}

/* Inicio do main */
.main__conteudo {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.main__text {
    width: 55%;
}

.main__conteudo .main__text h1 {
    font-weight: 800;
    font-size: 132px;
    line-height: 120px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.main__conteudo .main__text span {
    color: var(--primary-color);
}

.main__conteudo .main__text p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.main__conteudo .main__text button {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;

    align-items: flex-start;
    justify-content: center;
    border-radius: 8px;
    border: none;

    gap: 10px;

    width: 150px;
    height: 40px;
    margin-top: 18px;
    transition: all .3s ease-in-out;

}

.main__conteudo .main__text button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.main__cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 30px 0;
    transition: all .3s ease-in-out;
}

.main__card {
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.main__card:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.main__cards img {
    width: 120px;
    height: 60px;
}

.main__featured {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main__featured h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.featured__cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.main__img img {
    width: 110%;
    height: 684px;
    left: 860px;
    top: 305px;
}

/* Inicio Section Start */

.start {
    display: flex;
    flex-direction: column;
}

.start .start__text {
    margin-bottom: 20px;
}

.start .start__text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;

    letter-spacing: 0.3px;
}

.start .start__text p {
    color: var(--text-color-p);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0;

    letter-spacing: 0.5px;
}

.start .start__cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.start .start__cards .start__card {
    width: 254px;
    height: 160px;
    left: 141px;
    top: 1337px;

    background: #323443;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 15px;
    transition: all .3s ease-in-out;
}

.start .start__cards .start__card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.start .start__cards .start__card h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.5px;
    color: var(--text-color);
    transition: all .3s ease-in-out;

}

.start .start__cards .start__card h4:hover {
    color: var(--primary-color);
}

.start .start__cards .start__card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.3px;

    /* Text 2 */

    color: var(--text-color-p);
}

.start__cards .start__card i {
    font-size: 40px;
    padding-top: 10px;
    color: var(--primary-color);
}

/* Inicio Work Out */
.container .work {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.container .work .work__text {
    width: 50%;
}

.container .work .work__text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3px;
    color: var(--text-color);
}

.container .work .work__text p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-p);

    letter-spacing: 0.3px;
    padding: 20px 0;

}

.container .work .work__btn a {
    color: var(--text-color);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.container .work .work__btn a:hover {
    color: var(--primary-color);
}

.container .work .work__btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s ease-in-out;
    background-color: #E6533C;
    width: 140px;
    height: 40px;
    border-radius: 12px;
}

.container .work .work__btn:hover {
    background-color: white;
}

.container .work .work__btn i {
    font-size: 18px;
    margin-left: 6px;
}

.container .work .work__img {
    width: 50%;
}

.container .work .work__img img {
    border-radius: 12px;
    width: 100%;
}

/* Inicio Membership*/

.container .membership .membership__text h3 {
    left: 141px;
    padding-top: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 70px;
    border-bottom: 3px solid var(--secund-color);
    letter-spacing: 0.83px;
}

.container .membership .cards {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
}

.container .membership .cards .card {
    width: 538px;
    height: 480px;
    left: 147px;
    top: 3233px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    background: var(--secund-color);
}

.container .membership .cards .card h4 {

    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;

    text-align: center;
    letter-spacing: 0.3px;
    padding: 30px 0;

    color: var(--text-color);
}

.container .membership .cards .card p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 133% */
    padding: 0 40px;
    letter-spacing: 0.5px;
    color: var(--text-color-p);
}

.container .membership .cards .membership__list {

    padding-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding-left: 105px;
    color: var(--text-color-p);
    letter-spacing: 0.5px;
}

.container .membership .cards .membership__list ul li {
    list-style-type: square;
}

.container .membership .cards .card .work__btn__1 {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container .membership .cards .card .work__btn__1 a h3 {
    color: #0070C9;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.container .membership .cards .card .work__btn__1 a h3:hover {
    color: var(--primary-color);

}

.container .membership .cards .card .work__btn__1 i {
    font-size: 28px;
    text-align: center;
    color: #0070C9;

    cursor: pointer;
}

.container .membership .cards .card .work__btn__2 {
    width: 150px;
    height: 30px;
    margin-left: 120px;
    top: 3768px;

    /* Link */

    background: #0070C9;
    border-radius: 10px;
}

.container .membership .cards .card .work__btn__2 h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);

    text-align: center;
    justify-content: center;
}




/* Responsvidade */

@media (max-width: 960px) {
    .menu__icon {
        display: block;
    }

    .ul {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        background-color: var(--primary-color);
        flex-direction: column;
        justify-content: center;


        transition: all 0.3s ease-in-out;
    }

    .ul li {
        font-size: 20px;
        margin: 20px 0;
    }

    .ul.ativo {
        left: 0;
    }

    main .container {
        flex-direction: column;
    }

    main .container .main__img {
        display: flex;
        justify-content: center;
    }

    main .container .main__img img {
        padding-top: 20px;
        width: 60%;
        justify-content: center;
        align-items: center;
    }

    main .container .main__text {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    main .container .main__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .container .start__text h3,
    p {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container .start__cards {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container .work {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .container .work .work__text {
        text-align: center;
    }

    .container .work .work__btn {
        margin: auto;
    }
}